################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/SwaggerTraining/DesignTimeBuild
/src/.vs/SwaggerTraining/v16
/src/Finish/.vs/SwaggerTraining/DesignTimeBuild
/src/Start/.vs/SwaggerTraining
/src/Start/SwaggerTraining/obj/Debug/netcoreapp3.1
/src/Finish/.vs/SwaggerTraining/v16
/src/.vs/SwaggerTraining/config
/src/Start/SwaggerTraining/bin/Debug/netcoreapp3.1
/src/Start/SwaggerTraining/obj
